<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddDriverServle</servlet-name>
        <servlet-class>AddDriverServle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDriverServlet</servlet-name>
        <servlet-class>InsertDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVehicleServlet</servlet-name>
        <servlet-class>ViewVehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDriverServle</servlet-name>
        <url-pattern>/AddDriverServle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDriverServlet</servlet-name>
        <url-pattern>/InsertDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVehicleServlet</servlet-name>
        <url-pattern>/ViewVehicleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
